In [7]:
import pandas as pd
import numpy as np

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [26]:
# https://www.w3resource.com/python-exercises/pandas/python-pandas-data-frame-exercise-2.php

df = pd.DataFrame(exam_data, index=labels)
df.reindex(sorted(df.columns), axis=1)

   attempts       name qualify  score
a         1  Anastasia     yes   12.5
b         3       Dima      no    9.0
c         2  Katherine     yes   16.5
d         3      James      no    NaN
e         2      Emily      no    9.0
f         3    Michael     yes   20.0
g         1    Matthew     yes   14.5
h         1      Laura      no    NaN
i         2      Kevin      no    8.0
j         1      Jonas     yes   19.0

In [27]:
# https://www.w3resource.com/python-exercises/pandas/python-pandas-data-frame-exercise-10.php

# both work
# df[(df["score"] >= 15 ) & (df["score"] <= 20)]
df[df["score"].between(15, 20)]

        name  score  attempts qualify
c  Katherine   16.5         2     yes
f    Michael   20.0         3     yes
j      Jonas   19.0         1     yes

In [29]:
# https://www.w3resource.com/python-exercises/pandas/python-pandas-data-frame-exercise-20.php

colors = ["Blue", "Red", "Green", "Yellow", "Orange", "Purple", "Fuchsia", "Maroon", "Grey", "Teal"]
# df.insert(4, "color", colors)
df["color"] = colors
print(df)

        name  score  attempts qualify    color
a  Anastasia   12.5         1     yes     Blue
b       Dima    9.0         3      no      Red
c  Katherine   16.5         2     yes    Green
d      James    NaN         3      no   Yellow
e      Emily    9.0         2      no   Orange
f    Michael   20.0         3     yes   Purple
g    Matthew   14.5         1     yes  Fuchsia
h      Laura    NaN         1      no   Maroon
i      Kevin    8.0         2      no     Grey
j      Jonas   19.0         1     yes     Teal

In [1]:
# https://www.w3resource.com/python-exercises/pandas/python-pandas-data-frame-exercise-80.php

df1 = pd.DataFrame({"W": [68., 75., 86., 80., np.nan], "X": [78., 85., np.nan, 80., 86.], "Y": [84, 94, 89, 83, 86], "Z": [86, 97, 96, 72, 83]})
df2 = pd.DataFrame({"W": [78., 75., 86., 80., np.nan], "X": [78, 85, 96, 80, 76], "Y": [84, 84, 89, 83, 86], "Z": [86, 97, 96, 72, 83]})

print(df1)
print(df2)

df3 = pd.DataFrame(np.where(df1.ne(df2), True, False))
print(df3)

NameError: name 'pd' is not defined