In [23]:
import pandas as pd
import numpy as np
import re

In [6]:
# https://www.w3resource.com/python-exercises/pandas/string/python-pandas-string-exercise-1.php

s = pd.Series(['X', 'Y', 'Z', 'Aaba', 'Baca', np.nan, 'CABA', None, 'bird', 'horse', 'dog'])

print("Original Series: \n")
print(s)

print("\nUpper Case: \n")
print(s.str.upper())

print("\nLower Case: \n")
print(s.str.lower())

Original Series:

0         X
1         Y
2         Z
3      Aaba
4      Baca
5       NaN
6      CABA
7      None
8      bird
9     horse
10      dog
dtype: object

Upper Case:

0         X
1         Y
2         Z
3      AABA
4      BACA
5       NaN
6      CABA
7      None
8      BIRD
9     HORSE
10      DOG
dtype: object

Lower Case:

0         x
1         y
2         z
3      aaba
4      baca
5       NaN
6      caba
7      None
8      bird
9     horse
10      dog
dtype: object

In [16]:
# https://www.w3resource.com/python-exercises/pandas/string/python-pandas-string-exercise-9.php

df = pd.DataFrame({
    'name_code': ['Company','Company a001','Company 123', '1234', 'Company 12'],
    'date_of_birth ': ['12/05/2002','16/02/1999','25/09/1998','12/02/2022','15/09/1997'],
    'age': [18.5, 21.2, 22.5, 22, 23]
})

print("Original DataFrame:")
print(df)

# both work
# df['name_code_is_alphanumeric'] = list(map(lambda x: x.isalnum(), df['name_code']))
df["namecode_isalnum"] = df["name_code"].str.isalnum()

print("\nWith New Column:")
print(df)

Original DataFrame:
      name_code date_of_birth    age
0       Company     12/05/2002  18.5
1  Company a001     16/02/1999  21.2
2   Company 123     25/09/1998  22.5
3          1234     12/02/2022  22.0
4    Company 12     15/09/1997  23.0

With New Column:
      name_code date_of_birth    age  namecode_isalnum
0       Company     12/05/2002  18.5              True
1  Company a001     16/02/1999  21.2             False
2   Company 123     25/09/1998  22.5             False
3          1234     12/02/2022  22.0              True
4    Company 12     15/09/1997  23.0             False

In [21]:
# https://www.w3resource.com/python-exercises/pandas/string/python-pandas-string-exercise-17.php

df = pd.DataFrame({
    'company_code': ['Abcd','EFGF', 'zefsalf', 'sdfslew', 'zekfsdf'],
    'date_of_sale': ['12/05/2002','16/02/1999','25/09/1998','12/02/2022','15/09/1997'],
    'sale_amount': [12348.5, 233331.2, 22.5, 2566552.0, 23.0]
})

print("Original DataFrame:")
print(df)

df["starts_with_zef"] = list(map(lambda x: x.startswith("zef"), df["company_code"]))
print(df)

Original DataFrame:
  company_code date_of_sale  sale_amount
0         Abcd   12/05/2002      12348.5
1         EFGF   16/02/1999     233331.2
2      zefsalf   25/09/1998         22.5
3      sdfslew   12/02/2022    2566552.0
4      zekfsdf   15/09/1997         23.0
  company_code date_of_sale  sale_amount  starts_with_zef
0         Abcd   12/05/2002      12348.5            False
1         EFGF   16/02/1999     233331.2            False
2      zefsalf   25/09/1998         22.5             True
3      sdfslew   12/02/2022    2566552.0            False
4      zekfsdf   15/09/1997         23.0            False

In [59]:
# https://www.w3resource.com/python-exercises/pandas/string/python-pandas-string-exercise-25.php

df = pd.DataFrame({
    'tweets': ['#Obama says goodbye','Retweets for #cash','A political endorsement in #Indonesia', '1 dog = many #retweets', 'Just a simple #egg']
    })

print("Original DataFrame:")#
print(df)

def find_hash(text):
    hword=re.findall(r'(?<=#)\w+',text) # ??
    return " ".join(hword)

df['hash_word']=df['tweets'].apply(lambda x: find_hash(x))
print("\nExtracting #@word from dataframe columns:")
print(df)

Original DataFrame:
                                  tweets
0                    #Obama says goodbye
1                     Retweets for #cash
2  A political endorsement in #Indonesia
3                 1 dog = many #retweets
4                     Just a simple #egg

Extracting #@word from dataframe columns:
                                  tweets  hash_word
0                    #Obama says goodbye      Obama
1                     Retweets for #cash       cash
2  A political endorsement in #Indonesia  Indonesia
3                 1 dog = many #retweets   retweets
4                     Just a simple #egg        egg

In [47]:
# https://www.w3resource.com/python-exercises/pandas/string/python-pandas-string-exercise-33.php

df = pd.DataFrame({
    'company_code': ['c0001','c0002','c0003', 'c0003', 'c0004'],
    'address': ['7277 Surrey Ave.1111','920 N. Bishop Ave.','9910 Golden Star St.', '1025 Dunbar St.', '1700 West Livingston Court']
    })

print("Original DataFrame:")
print(df)

def find_num(addresses):
    nums = re.findall(r"94[1-9]\d|95[0-9]|9[6-9][0-9]\d|[1-9]{1}[0-9]{3,}", addresses)
    return " ".join(nums)

df[">940"] = df["address"].apply(lambda x: find_num(x))

print("\nGreater than 940:")
print(df)

Original DataFrame:
  company_code                     address
0        c0001        7277 Surrey Ave.1111
1        c0002          920 N. Bishop Ave.
2        c0003        9910 Golden Star St.
3        c0003             1025 Dunbar St.
4        c0004  1700 West Livingston Court
Greater than 940:
  company_code                     address       >940
0        c0001        7277 Surrey Ave.1111  7277 1111
1        c0002          920 N. Bishop Ave.
2        c0003        9910 Golden Star St.       9910
3        c0003             1025 Dunbar St.       1025
4        c0004  1700 West Livingston Court       1700

In [60]:
# https://www.w3resource.com/python-exercises/pandas/string/python-pandas-string-exercise-41.php

df = pd.DataFrame({
    'company_code': ['Abcd','EFGF', 'zefsalf', 'sdfslew', 'zekfsdf'],
    'date_of_sale': ['12/05/2002','16/02/1999','05/09/1998','12/02/2022','15/09/1997'],
    'address': ['9910 Surrey <b>Avenue</b>','92 N. Bishop Avenue','9910 <br>Golden Star Avenue', '102 Dunbar <i></i>St.', '17 West Livingston Court']
})
print("Original DataFrame:")
print(df)

def remove_tags(addresses):
    plain = re.sub('<.*?>', '', addresses)
    return plain
    
df["no_tags"] = df["address"].apply(lambda x: remove_tags(x))
    
print("\nNo Tags:")
print(df)

Original DataFrame:
  company_code date_of_sale                      address
0         Abcd   12/05/2002    9910 Surrey <b>Avenue</b>
1         EFGF   16/02/1999          92 N. Bishop Avenue
2      zefsalf   05/09/1998  9910 <br>Golden Star Avenue
3      sdfslew   12/02/2022        102 Dunbar <i></i>St.
4      zekfsdf   15/09/1997     17 West Livingston Court

No Tags:
  company_code date_of_sale                      address  \
0         Abcd   12/05/2002    9910 Surrey <b>Avenue</b>
1         EFGF   16/02/1999          92 N. Bishop Avenue
2      zefsalf   05/09/1998  9910 <br>Golden Star Avenue
3      sdfslew   12/02/2022        102 Dunbar <i></i>St.
4      zekfsdf   15/09/1997     17 West Livingston Court

                    no_tags
0        9910 Surrey Avenue
1       92 N. Bishop Avenue
2   9910 Golden Star Avenue
3            102 Dunbar St.
4  17 West Livingston Court