[Kaggle Titanic Competition/Tutorial](https://www.kaggle.com/c/titanic/)

In [43]:
import numpy as np # more efficient maths
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.ensemble import RandomForestRegressor
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_squared_error, r2_score

train_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')
train_data["Age"].fillna(train_data["Age"].mean(), inplace=True)
train_data.drop("Cabin", axis=1, inplace=True)
train_data["Embarked"].fillna(train_data["Embarked"].median(), inplace=True)

test_data["Age"].fillna(test_data["Age"].mean(), inplace=True)
test_data.drop("Cabin", axis=1, inplace=True)
test_data["Embarked"].fillna(test_data["Embarked"].median(), inplace=True)

TypeError:

In [8]:
y_train = train_data.Survived
X_train = train_data.drop("Survived", axis=1)
X_test = test_data

In [39]:
train_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [7]:
scaler = preprocessing.StandardScaler().fit(X_train)

X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S