In [41]:
import pandas as pd
import datetime
from datetime import datetime
from dateutil import parser

[Write a Pandas program to create](https://www.w3resource.com/python-exercises/pandas/time-series/pandas-time-series-exercise-1.php) <br />
a) Datetime object for Jan 15 2012. <br />
b) Specific date and time of 9:20 pm. <br />
c) Local date and time. <br />
d) A date without time. <br />
e) Current date. <br />
f) Time from a datetime. <br />
g) Current local time. <br />

In [28]:
print("a)", datetime(2012, 1, 15))
print("b)", datetime(2021, 1, 15, 21, 20))
print("c)", datetime.now())
print("d)", datetime.date(datetime(2012, 1, 15)))
print("e)", datetime.now().date())
print("f)", datetime.time(datetime(2012, 1, 15, 21, 20)))
print("g)", datetime.now().time())

a) 2012-01-15 00:00:00
b) 2021-01-15 21:20:00
c) 2021-03-10 11:11:42.656912
d) 2012-01-15
e) 2021-03-10
f) 21:20:00
g) 11:11:42.656912

[Write a Pandas program to create](https://www.w3resource.com/python-exercises/pandas/time-series/pandas-time-series-exercise-2.php) <br>
a) a specific date using timestamp. <br />
b) date and time using timestamp. <br />
c) a time adds in the current local date using timestamp. <br />
d) current date and time using timestamp. <br />

In [39]:
print("a)", pd.Timestamp("2018-01-05"))
print("b)", pd.Timestamp("2021-1-15 21:20"))
print("c)", pd.Timestamp("11:30"))
print("d)", pd.Timestamp("now"))

a) 2018-01-05 00:00:00
b) 2021-01-15 21:20:00
c) 2021-03-10 11:30:00
d) 2021-03-10 11:18:48.914000

[Write a Pandas program to create a date from a given year, month, day and another date from a given string formats](https://www.w3resource.com/python-exercises/pandas/time-series/pandas-time-series-exercise-3.php)

In [45]:
date1 = datetime(year=2020, month=10, day=25)
print("Date from a given year, month, day:")
print(date1)
date2 = parser.parse("1st of January, 2021")
print("\nDate from a given string formats:")
print(date2)

Date from a given year, month, day:
2020-10-25 00:00:00

Date from a given string formats:
2021-01-01 00:00:00

[Write a Pandas program to print the day after and before a specified date. Also print the days between two given dates.](https://www.w3resource.com/python-exercises/pandas/time-series/pandas-time-series-exercise-4.php)

In [64]:
date1 = datetime.now()
before = date1-pd.Timedelta("1 day")
after = date1+pd.Timedelta(days=1)
print("Day/Date Specified: ", date1.date())
print("Day Before: ", before.date())
print("Day After: ", after.date())

print("----------")

print("Difference between 2 dates: ", datetime(2021, 3, 12) - datetime(2021, 3, 9))

Day/Date Specified:  2021-03-10
Day Before:  2021-03-09
Day After:  2021-03-11
----------
Difference between 2 dates:  3 days, 0:00:00

[Write a Pandas program to create a time-series with two index labels and random values. Also print the type of the index.](https://www.w3resource.com/python-exercises/pandas/time-series/pandas-time-series-exercise-5.php)

In [65]:
dates = [datetime(2011, 9, 1), datetime(2011, 9, 2)]
print("Time-series with two index labels:")
time_series = pd.Series(np.random.randn(2), dates)
print(time_series)
print("\nType of the index:")
print(type(time_series.index))

Time-series with two index labels:
2011-09-01   -0.297348
2011-09-02    0.465183
dtype: float64

Type of the index:
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>

[Write a Pandas program to create a time-series from a given list of dates as strings.](https://www.w3resource.com/python-exercises/pandas/time-series/pandas-time-series-exercise-6.php)

In [69]:
dates = ['2014-08-01','2014-08-02','2014-08-03','2014-08-04']
ts = pd.Series(dates) # Series(data, index)

0    2014-08-01
1    2014-08-02
2    2014-08-03
3    2014-08-04
dtype: object

[Write a Pandas program to create a time series object that has time indexed data. Also select the dates of same year and select the dates between certain dates.](https://www.w3resource.com/python-exercises/pandas/time-series/pandas-time-series-exercise-7.php)

In [77]:
index = pd.DatetimeIndex(['2011-09-02', '2012-08-04',
                          '2015-09-03', '2010-08-04',
                          '2015-03-03', '2011-08-04',
                          '2015-04-03', '2012-08-04'])

ts = pd.Series([1, 2, 3, 4, 5, 6, 7, 8], index=index)

print("Rows of a particular year:")
print(ts["2015"])
print("---------")
print("Rows within a range:")
print(ts["2012-01-01":"2012-12-31"])

Rows of a particular year:
2015-09-03    3
2015-03-03    5
2015-04-03    7
dtype: int64
---------
Rows within a range:
2012-08-04    2
2012-08-04    8
dtype: int64

[Write a Pandas program to create a date range using a startpoint date and a number of periods.](https://www.w3resource.com/python-exercises/pandas/time-series/pandas-time-series-exercise-8.php)

In [85]:
ts = pd.date_range("2018-01-01", periods=30, freq="D") # freq == time units
ts

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08',
               '2018-01-09', '2018-01-10', '2018-01-11', '2018-01-12',
               '2018-01-13', '2018-01-14', '2018-01-15', '2018-01-16',
               '2018-01-17', '2018-01-18', '2018-01-19', '2018-01-20',
               '2018-01-21', '2018-01-22', '2018-01-23', '2018-01-24',
               '2018-01-25', '2018-01-26', '2018-01-27', '2018-01-28',
               '2018-01-29', '2018-01-30'],
              dtype='datetime64[ns]', freq='D')

[Write a Pandas program to create a whole month of dates in daily frequencies. Also find the maximum, minimum timestamp and indexs](https://www.w3resource.com/python-exercises/pandas/time-series/pandas-time-series-exercise-8.php)

In [94]:
ts = pd.Series(pd.date_range("2021-03-01", periods=31, freq="D"))
print(ts.min())
print(ts.max())
print(ts.idxmin())
print(ts.idxmax())
print(ts)

2021-03-01 00:00:00
2021-03-31 00:00:00
0
30
0    2021-03-01
1    2021-03-02
2    2021-03-03
3    2021-03-04
4    2021-03-05
5    2021-03-06
6    2021-03-07
7    2021-03-08
8    2021-03-09
9    2021-03-10
10   2021-03-11
11   2021-03-12
12   2021-03-13
13   2021-03-14
14   2021-03-15
15   2021-03-16
16   2021-03-17
17   2021-03-18
18   2021-03-19
19   2021-03-20
20   2021-03-21
21   2021-03-22
22   2021-03-23
23   2021-03-24
24   2021-03-25
25   2021-03-26
26   2021-03-27
27   2021-03-28
28   2021-03-29
29   2021-03-30
30   2021-03-31
dtype: datetime64[ns]

[Write a Pandas program to convert year and day of year into a single datetime column of a dataframe.](https://www.w3resource.com/python-exercises/pandas/time-series/pandas-time-series-exercise-12.php)

In [96]:
data = {\
"year": [2002, 2003, 2015, 2018],
"day_of_the_year": [250, 365, 1, 140]
}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)
print("----------")
df["combined"] = df["year"]*1000 + df["day_of_the_year"]
df["formatted_combined"] = pd.to_datetime(df["combined"], format="%Y%j")
print("Combined:")
print(df)

Original DataFrame:
   year  day_of_the_year
0  2002              250
1  2003              365
2  2015                1
3  2018              140
----------
Combined:
   year  day_of_the_year  combined formatted_combined
0  2002              250   2002250         2002-09-07
1  2003              365   2003365         2003-12-31
2  2015                1   2015001         2015-01-01
3  2018              140   2018140         2018-05-20

[Write a Pandas program to create a series of Timestamps from a DataFrame of integer or string columns. Also create a series of Timestamps using specified columns.](https://www.w3resource.com/python-exercises/pandas/time-series/pandas-time-series-exercise-13.php)

In [114]:
df = pd.DataFrame({'year': [2018, 2019, 2020],
                   'month': [2, 3, 4],
                   'day': [4, 5, 6],
                   'hour': [2, 3, 4]})
print("Original dataframe:")
print(df)

ts = pd.to_datetime(df)
print("Combined timestamps:")
print(ts)

print("Just date:")
ts = pd.to_datetime(df[["year","month","day"]])
print(ts)

Original dataframe:
   year  month  day  hour
0  2018      2    4     2
1  2019      3    5     3
2  2020      4    6     4
Combined timestamps:
0   2018-02-04 02:00:00
1   2019-03-05 03:00:00
2   2020-04-06 04:00:00
dtype: datetime64[ns]
Just date:
0   2018-02-04
1   2019-03-05
2   2020-04-06
dtype: datetime64[ns]

[Write a Pandas program to get a time series with the last working days of each month of a specific year.](https://www.w3resource.com/python-exercises/pandas/time-series/pandas-time-series-exercise-15.php)

In [116]:
dr = pd.date_range('2021-01-01', periods=12, freq='BM')
df = pd.DataFrame(dr, columns=['Date'])
print('last working days of each month of a specific year:')
print(df)

last working days of each month of a specific year:
         Date
0  2021-01-29
1  2021-02-26
2  2021-03-31
3  2021-04-30
4  2021-05-31
5  2021-06-30
6  2021-07-30
7  2021-08-31
8  2021-09-30
9  2021-10-29
10 2021-11-30
11 2021-12-31

[Write a Pandas program to create a time series combining hour and minute](https://www.w3resource.com/python-exercises/pandas/time-series/pandas-time-series-exercise-16.php)

In [117]:
import pandas as pd
result = pd.timedelta_range(0, periods=30, freq="1H20T")
print("For a frequency of 1 hours 20 minutes, here we have combined the hour (H) and minute (T):\n")
print(result)

For a frequency of 1 hours 20 minutes, here we have combined the hour (H) and minute (T):

TimedeltaIndex(['0 days 00:00:00', '0 days 01:20:00', '0 days 02:40:00',
                '0 days 04:00:00', '0 days 05:20:00', '0 days 06:40:00',
                '0 days 08:00:00', '0 days 09:20:00', '0 days 10:40:00',
                '0 days 12:00:00', '0 days 13:20:00', '0 days 14:40:00',
                '0 days 16:00:00', '0 days 17:20:00', '0 days 18:40:00',
                '0 days 20:00:00', '0 days 21:20:00', '0 days 22:40:00',
                '1 days 00:00:00', '1 days 01:20:00', '1 days 02:40:00',
                '1 days 04:00:00', '1 days 05:20:00', '1 days 06:40:00',
                '1 days 08:00:00', '1 days 09:20:00', '1 days 10:40:00',
                '1 days 12:00:00', '1 days 13:20:00', '1 days 14:40:00'],
               dtype='timedelta64[ns]', freq='80T')

[Write a Pandas program to convert unix/epoch time to a regular time stamp in UTC. Also convert the said timestamp in to a given time zone.](https://www.w3resource.com/python-exercises/pandas/time-series/pandas-time-series-exercise-17.php)

In [127]:
epoch_t = 1621132355
time_stamp = pd.to_datetime(epoch_t, unit='s')
# UTC (Coordinated Universal Time) is one of the well-known names of UTC+0 time zone which is 0h.
# By default, time series objects of pandas do not have an assigned time zone.
print("Regular time stamp in UTC:")
print(time_stamp)
print("\nConvert the said timestamp in to US/Pacific:")
print(time_stamp.tz_localize('UTC').tz_convert('US/Pacific'))
print("\nConvert the said timestamp in to Europe/Berlin:")
print(time_stamp.tz_localize('UTC').tz_convert('Europe/Berlin'))

Regular time stamp in UTC:
2021-05-16 02:32:35

Convert the said timestamp in to US/Pacific:
2021-05-15 19:32:35-07:00

Convert the said timestamp in to Europe/Berlin:
2021-05-16 04:32:35+02:00

[Write a Pandas program to create a time series object with a time zone.](https://www.w3resource.com/python-exercises/pandas/time-series/pandas-time-series-exercise-18.php)

In [128]:
print("Timezone: Europe/Berlin:")
print("Using pytz:")
date_pytz = pd.Timestamp('2019-01-01', tz = 'Europe/Berlin')
print(date_pytz.tz)  
print("Using dateutil:")
date_util = pd.Timestamp('2019-01-01', tz = 'dateutil/Europe/Berlin')
print(date_util.tz)
print("\nUS/Pacific:")
print("Using pytz:")
date_pytz = pd.Timestamp('2019-01-01', tz = 'US/Pacific')
print(date_pytz.tz)  
print("Using dateutil:")
date_util = pd.Timestamp('2019-01-01', tz = 'dateutil/US/Pacific')
print(date_util.tz)

Timezone: Europe/Berlin:
Using pytz:
Europe/Berlin
Using dateutil:
tzfile('Europe/Berlin')

US/Pacific:
Using pytz:
US/Pacific
Using dateutil:
tzfile('US/Pacific')